*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-color: #8693AB;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2%;
    background-color: #067BC2;
    border-radius: 20px;
    
}

header{
    padding: 20px 0;
    
}

.logo{
    padding-top: 5px;
    width: 50%;
}

nav ul.dropdown {
    height: 0;
    display: none;
    transition: all 0.5s ease;
  }
.apresentacao{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2%;
    background-color: #150578;
    border-radius: 20px;

}

.colunatextoapre{
    margin-right: 12%;
    margin-top: 70px;
    margin-left: 12%;
    color: white;
}

.colunatextoapre h2{
    font-size: 50px;
}
.colunatextoapre p{
    font-size: 20px;
    
}

.apresentacao img{
    max-width: 100%;
    width: 500px;
}